html {
    height: 100%;
    width: 100%;
  }
  
  *{
    margin: 0;
    padding: 0;  
  }
  
  .header{
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 15px 0%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  } 
  
  .header nav a{
    font-size: 15px;
    color: #bdc1c6;
    text-decoration: none;
    margin-right: 15px;
  } 
  
  .header nav a:hover {
    text-decoration: underline;
    color: #bdc1c6;
  }
  
  body {
    font-family: Roboto arial, sans-serif;
    background: #202124;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 5px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding: 20px; 
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
   .small-image {
    width: 250px;
    height: auto;
  } 
  
  .search-icon {
    width: 15px;
    position: absolute;
    left: 605px; 
    top: 335px;
  }
  
  .mic-icon {
    width: 12px; 
    position: absolute; 
    right: 650px;
    top: 335px;
  }
  
  .lens-icon {
    width: 20px; 
    position: absolute; 
    right: 600px; 
    top: 335px; 
  }
  
  .leaf-pic {
    margin-right: 5px;
  }
  
  input{
   width: 500px;
   height: 30px;
   display: flex; 
   padding: 5px 8px 0 14px;
   border-radius: 20px; 
   background-color: #303134; 
   border: 1px solid #ccc;
   font-siz: 15px; 
   color: #e8eaed; 
   margin-top: 15px; 
  
  }
  
  .buttons {
    margin-top: 20px; 
  }
  
  #searchBar {
    width: 550px;
    height: 40px;
    border-radius: 60px;
    border: none;
    background-color: transparent; 
    padding: 0 15px;
    margin-right: 10px; 
    display: flex; 
  }
  
  #searchButton {
    padding: 10px 20px;
    color: #ccc;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button {
    background-color: #303134;
    color: #e8eaed;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #303134;
    border-radius: 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center; 
    cursor: pointer; 
  }
  
  button:hover {
    border: 1px solid #e8eaed;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #303134;
    color: #e8eaed;
  }
  
  footer {
    background-color: #171717; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .footer1 a, .footer2 a, .footer3 a{
    font-size: 14px;
    color: #ededed;
    text-decoration: none;
    margin: 5px; 
    padding: 5px 20px; 
    justify-content: space-between; 
  }
  
  .footer1 a, .footer3 a {
    padding: 15px;
    justify-content: space-evenly;
  }
  
  .footer1 a:hover, .footer2 a:hover, .footer3 a:hover {
    text-decoration: underline;
    color: #ededed;
  }